# Terraform state files
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive config files
.env
*.tfvars
*.tfvars.json

# IDEs / Editors
.vscode/
.idea/
*.swp

# Mac system files
.DS_Store

# Logs & temp
*.log
*.bak
*.tmp
